<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>liveView</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/images/favicon.ico" />
        <link href="/static/style/style.css" rel="stylesheet" media="all" type="text/css">
       
       
	</head>
	<body>	

<div id="house">
        <div>
                <!-- Etage1 -->
                <div id="contenu_etage1"><iframe src="http://127.0.01:9090/live" width="100%" frameborder="0" height="800px"></iframe></div>
        </div>
        <div>
                <!-- Etage2 -->    
                <div id="contenu_etage2"><iframe src="http://127.0.01:9090/data" width="100%" frameborder="0" height="800px"></iframe></div>
        </div>
        <div>
                <!-- Etage3 -->
                <div id="contenu_etage3"></div>
        </div>  
        <div>
                <!-- Etage4 -->
                <div id="contenu_etage4"></div>
        </div>
        <div>
                <!-- Etage5 -->
                <div id="contenu_etage5"></div>
        </div>
</div>


<script type="text/javascript" src="/static/libs/ascensor.js"></script>
 <script type="text/javascript">
	        //$('body').html('Hello World');
	 //$('#contenu_etage1').html("http://127.0.0.1:9090/live");
	 $('#house').ascensor();
	 //$('#contenu_etage1').load("http://127.0.0.1:9090/live");
     </script>
	</body>
</html>
