<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>liveView</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/images/favicon.ico" />
        <link href="/static/style/style.css" rel="stylesheet" media="all" type="text/css"> 
	</head>
	<body>

	
{% module Live() %}

LiveView
<div id="live" style="width: 600px; height: 300px; margin: 0 auto" align="left"></div>
<div id="gauge" style="width: 400px; height: 300px; margin: 0 auto" align="right"></div>
<script src="/static/libs/themes/gray.js"></script>
<script src="/static/libs/highcharts.js"></script>
<script src="/static/libs/highcharts-more.js"></script>
<script src="/static/libs/power.js"></script>
<script src="/static/libs/live.js"></script>
<script src="/static/libs/gauge.js"></script>
	</body>
</html>
